version: '3.8'

services:

  db:
    image: postgres:15-alpine
    container_name: eco_tracker_db
    environment:
      POSTGRES_USER: admin           
      POSTGRES_PASSWORD: password123 
      POSTGRES_DB: eco_tracker       
    ports:
      - "5432:5432"                  
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      - ./database/schema.sql:/docker-entrypoint-initdb.d/init.sql 
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data: